{% extends 'main/base.html' %}

{% block navbar %}
    <h3 style = "margin-top:0mm ; text-align: center;">Authentification</h4>
    <br>
    
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">{% block Aremplir %}Connexion{% endblock %}</button>
        <div id="myDropdown" class="dropdown-content" style="border-radius:10px;">
          <a href="/">Connexion</a>
          <a href="/register/">Inscription</a>
          <a href="/recuperation">Mot de passe oublié</a>
        </div>
      </div>
      
    <br><br>
    
    {% load crispy_forms_tags %}
    <form id="toMove" method="post" class="from-group" style="margin-top:1cm; ">
        {% csrf_token %}
        {% block select %}
            {{form|crispy}}
        {% endblock %}
        <br>     
        {% block bouton %} <button type="submit" class="btn btn-primary"> <span class="changement"> Se connecter </span></button>   {% endblock %}
    </form>

    
    {% block message %}
    {% endblock %}

    {% block register-error %}
    {% endblock %}

{% endblock %}



