{% extends 'main/home.html' %}
{% load static %}

{% block success %}

    {% if nbr == 1 and petit == 0 %}
    <div id="hideMe" class= "navbar-home-email" style="width:100%; height:1cm; line-height:100%; padding-top:0.2cm; background-color: rgba(185, 254, 185, 0.5);border:1px solid rgba(185, 254, 185, 0.5);" >
        <p id="section">
            Votre fichier a été enregistré avec succès !
        </p>
    </div>
    
    {% elif nbr == 1 and petit == 1 %}
        <div id="hideMe" class= "navbar-home-email" style="width:100%; height:1cm; line-height:100%; padding-top:0.2cm; background-color: rgba(240,128,128,0.4);border:1px solid rgba(240,128,128,0.4);" >
        <p id="section">
            La synthèse soumise est trop courte pour être évaluée.
        </p>
    </div>

    {% elif nbr > 1  %}
        <div id="hideMe" class= "navbar-home-email" style="width:100%; height:1cm; line-height:100%; padding-top:0.2cm; background-color: rgba(185, 254, 185, 0.5);border:1px solid rgba(185, 254, 185, 0.5);" >
            <p id="section">
                Vos fichiers ont été enregistrés avec succès !
            </p>
        </div>

    {% endif %}
        
    
    
    {% block results %}
    {% endblock %}

{% endblock %}
